body {
   background-color: #8a14c9;
}

h1 {
    color: #ffd700;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 42%;
    top: 40px;
}

form.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    background: rgb(138,20,201);
    background: linear-gradient(135deg, rgba(201,156,20,1) 0%, rgba(255,215,0,1) 79%);
    width: 450px;
    height: 60px;
    border-radius: 5px;
    left: 38%;
}

input {
    position: relative;
    margin: 8px;
    border-radius: 5px;
    background-color: rgba(175,179,186,0.25);
    height: 2rem;
}

button {
    position: relative;
    margin: 8px;
    height: 2rem;
    border-radius: 5px;
}

button.search-but {
    background-color: #44e019;
}

button.remove-but {
    background-color: #cf3b2d;
}

div.gif-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 400px;
    top: 300px;
}

img {
    height: 400px;
    width: 400px;
}